.heading {
  text-align: center;
  font-size: 2.5vmin;
  
  margin-top: 1vmax;
  padding-top: 1vmax;
  margin-right: 1vmin;
  border-style: solid;

  margin-bottom: 1vmax;
  padding-bottom: 1vmax;
  
  background-color: rgba(255, 68, 0, 0.87);
  
  color: white;
  
}

#logo {
  width: 20vmin;
}


nav.navbar {
  font-size: 2.5vmax;
  
  text-align: center;
  border-style: groove;
  border-color: black;

  background-color: rgba(255, 255, 0, 0.692);
}

a:visited,
a:link {
  background-color: orangered;
  color: white ;
  padding-right: 2vmin;
  padding-left: 2vmin;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  border-radius: 2vmin;
  text-decoration: none;
}
a:hover {
  background-color: violet;
  border-radius: 2vmin;
}


.foot {
  text-align: center;
  position: relative;
  bottom: 0;
  
  height: 6vmin; /* Height of the footer */
  color: black;
  background-color: greenyellow;
  font-size: 2vmin;
  margin-top: 2vmin;
  border-style: double;

}
